.page-background-color {
	background: linear-gradient(
		180deg,
		rgba(222, 237, 255, 0.6) 0%,
		rgba(166, 204, 250, 0.5) 100%
	);
}

.content-container {
	text-align: center;
}

.text-to-center {
	text-align: center;
}

.background-tracery {
	position: absolute;

	top: -50%;
}

html {
	height: 100%;
}

.horizontal-list {
  margin: 0;
	padding-left: 0;
}

.horizontal-list > li {
	display: inline;
}
