.grid {
  --cell-width: 336px;
  --cell-height: 420px;
  --cell-padding: 10px;
  --cells-in-row: 2;

  width: calc(
    var(--cell-width) * var(--cells-in-row)
    + var(--cell-padding) * (var(--cells-in-row) * 2)
    + var(--scroll-width)
  );
}

.grid--cell-padding {
  padding-top: 10px;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 18px;
}
