.title-container__title {
	margin-bottom: var(--title-container--margin-bottom);

	==title-height: 32px;
	font-family: "Roboto", sans-serif;
	line-height: var(--title-height);
	text-align: center;
}

.title-container__title--font-weight--normal {
	font-weight: 400;
}

.title-container__title--font-uppercase {
	text-transform: uppercase;
}
