.title-container__title {
	margin-top: var(--title-container--margin-top);
	margin-bottom: var(--title-container--margin-bottom);
	font-family: "Roboto", sans-serif;
	line-height: var(--title-container--line-height);
	text-align: center;
}

.title-container__title--font-weight--normal {
	font-weight: 400;
}

.title-container__title--font-uppercase {
	text-transform: uppercase;
}
