@media (min-width: 1400px) {
  .room-card__button-container {
    float: right;
  }

  .room-card__reserve-button {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 11px;
    padding-bottom: 11px;

    font-size: 16px;
    line-height: 24px;
  }
}

