@media (min-width: 990px) {
  .room-card--card-width {
    width: 372px;
  }

  .room-card--card-height {
    height: 372px;
  }

  .room-card__block-divider {
    margin-top: 20px;
    margin-bottom: 17px;

    opacity: 0.2;
  }

  .room-card__bottom-container {
    width: calc(100% - 48px);
    position: absolute;
    bottom: 0;
    z-index: 3;
  }

  .room-card__bottom-reserve-container {
    width: 100%;
    position: absolute;
    top: 75%;
    bottom: 0;
    z-index: 3;
  }

  .room-card__text-block {
    text-align: left;
  }

}
