.room-card__button-container {
	float: right;
}

.room-card__reserve-button {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 11px;
	padding-bottom: 11px;

	font-size: 16px;
	line-height: 24px;

	border-radius: 5px;
	border-width: 0;
}

.room-card__reserve-button:hover {
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.room-card__reserve-button:active {
	color: #f9637c;

	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
