.primary2-text-color {
	color: #ff4b77;
}

.primary2-text-color:active {
	color: #FF97B0;
}

.pink-background-color {
	background: #f91155;
}

.pink-background-color:hover {
	background: #d8003f;
}

.pink-background-color:active {
	background: #d8003f;
}

.white-text-color {
	color: #ffffff;
}

.orange-background-color {
	background: #ff7647;
}

.orange-fill-color {
	fill: #ff7647;
}

.gray-text-color {
  color: #999999;
}
