.room-card {
	position: relative;
}

.room-card--border--circle {
	border-radius: 10px;
	border-width: 0;
}

.room-card--card-width {
	width: 372px;
}

.room-card--card-height {
	height: 372px;
}

.room-card__background-gradient {
	position: absolute;
	z-index: 2;

	background: linear-gradient(
		180deg,
		rgba(10, 34, 64, 0.1) 0%,
		#0a2240 100%
	);
}

.room-card__block-divider {
	margin-top: 20px;
	margin-bottom: 17px;

	opacity: 0.2;
}

.room-card__bottom-container {
	width: calc(100% - 48px);
	position: absolute;
	bottom: 0;
	z-index: 3;

	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 24px;
	padding-right: 24px;
}

.room-card__reserve-block-background-gradient {
	display: none;

	position: absolute;
	z-index: 3;

	background: rgba(255, 255, 255, 0.4);
}

.room-card__bottom-reserve-container {
	width: 100%;
	position: absolute;
	top: 75%;
	bottom: 0;
	z-index: 3;

	display: none;
	justify-content: center;
	align-items: center;

	border-top-left-radius: 0;
	border-top-right-radius: 0;

	background: #3c3e43;
}

.room-card--paddings {
	padding: 24px;
}

.room-card__text-block {
	text-align: left;
}

.room-card__title {
	font-family: "Roboto", serif;
	font-style: normal;
	font-size: 24px;
	line-height: 32px;
}

.room-card__title:hover {
	text-decoration-line: underline;
}

.room-card__title:active {
	text-decoration-line: none;

	opacity: 0.5;
}

.room-card__description {
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}



.room-card > .room-card__discount-block {
	display: none;
}

.room-card:hover > .room-card__discount-block {
	display: block;
}

.room-card--hide-when-reserved {
	display: none;
}

.room-card__payment-label {
	float: left;
}

.room-card__reserve-text-block {
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
}
