.discount-block__right-side {
	float: left;

	width: 36px;
	height: 36px;
	margin-left: -1px;
}

.discount-block__discount-label {
	float: left;

	width: 177px;
	height: 30px;
	padding-left: 16px;

	line-height: 30px;
}
