.button {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 11px;
  padding-bottom: 11px;

  font-size: 16px;
  line-height: 24px;
  color: white;

  background: #F91155;
  border-radius: 5px;
  border-width: 0;
}

.button:hover {
  background: #D8003F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button:active {
  color: #F9637C;

  background: #D8003F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
