.primary1 {
    color: #F91155;
}

.primary2 {
    color: #FF4B77;
}

.primary3 {
    color: #D8003F;
}

.secondary {
    color: #3C3E43;
}

.accent {
    color: #FF7647;
}

.gradient1 {
    background: linear-gradient(
        180deg,
        rgba(10, 34, 64, 0.1) 0%,
        #0A2240 100%
    );
}

.gradient2 {
    background: linear-gradient(
        68.56deg,
        rgba(170, 203, 240, 0.25) 11.33%,
        rgba(170, 203, 240, 0.75) 64.1%
    );
}

.page-background-color {
    background: linear-gradient(
        180deg,
        rgba(222, 237, 255, 0.6) 0%,
        rgba(166, 204, 250, 0.5) 100%
    );
}

.discount {
  width: 36px;
  height: 30px;

  background: #FF7647;
}

